<!DOCTYPE html>
<html>
<head>
<title>Quên mật khẩu</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
/* CSS tùy chỉnh */
.form-forgot-password {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f9fa;
}
</style>
</head>
<body>
	<form class="password-change-form" method="post"
		th:action="@{/form/change-password}">

		<div class="form-group">
			<label for="new-password">Mật khẩu mới</label> <input type="password"
				class="form-control" id="new-password" name="newPassword" required>
		</div>
		<div class="form-group">
			<label for="confirm-password">Xác nhận mật khẩu mới</label> <input
				type="password" class="form-control" id="confirm-password"
				name="confirmPassword" required>
		</div>
		<button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
		<p th:text="${error}" style="color: red;"></p>
	</form>
	
	<!-- Bao gồm các tệp JavaScript của Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
