@charset "utf-8";
.container{
    margin-top: 118px;
}
.detail{
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    padding: 12px;
}
.detail .detail-img{
    position: relative;
    display: inline-block;
    width: 49%;
    height: 80%;
    margin-right: 32px;
}
.detail-img .btn{
    float: right;
    
}
.detail-img .main-img{
    position: relative;
    display: inline-block;
    width: 56%;
	left:16%;
    height: 100%;
    
}
.main-img img{
    max-width: 100%;
    height: auto;
}
.detail-img .sub-img{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
    padding: 0px 24px;
    margin-right: 20px;
    
}
.sub-img img{
    max-width: 100%;
  height: auto;
  margin: 0 0 16px 0;
  
}
.detail-img .btn-add-cart {
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    font-size: 20px;
    background-color: white;
    padding: 16px 48px;
    margin-right: 24px;    
}
.detail-img .btn-buy{
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    background-color: red;
    font-size: 20px;
    padding: 16px 48px;
    margin-right: 36px; 
}
.detail .detail-content{
    display: inline-block;
    position: static;
    font-size: 20px;
   margin-top: 118px;
    width: 48.5%;
    
}
.detail-content .info{
    font-size: 20px;
}
.detail-content .info .col-2{
    width: 49.5%;
    float: left;
}
.detail-content .col-2 div{
    margin-bottom: 24px;
}
.detail-content .price{
    padding: 24px;
    font-size: 32px ;
}
.price div{
    padding: 12px;
}
.price .new-price {
    display: inline-block;
    font-weight: bold;
    color: red;
}
.price .old-price{
    display: inline-block;
    color: black;
    font-weight: bold;
   
}
.price .sale{
    display: inline-block;
    padding: 8px 12px; 
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;
    background-color: red;
}
.detail-content .title{
    font-size: x-large;
   
    margin-bottom: 32px;
}
.detail-content .time span{
    padding: 0px 16px;
}
span.special-blue{
    font-weight: bold;
    color: #2723EB;
}
span.special-bold{
    font-weight: bold ;
}
.detail-content .amount{
    margin-top: 24px;
}
.detail-content .amount input{
    display: inline-block;
    width: 10%;
    border-radius: 15px;
    padding: 12px 32px;
}
.detail-content .amount span{
    display: inline-block;
    
    padding: 12px 32px;
}
.related-sales{
    margin-top: 32px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 36px;
    padding-top: 24px;
}
.sale-header{
    font-weight: bold;
    font-size: 32px;
}
.sale-title{
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 32px;
}
.related-sales .sale-icon{
    width: 49.677%;
}
.related-sales img{
    width: 35%;
    margin-top:16px;
    margin-left:5px;
  height: 50%;
  float: left;
  
}
.related-sales .sale-content{
    display: inline-block;
    padding: 12px;
    max-width: 49.677%;
    font-weight: bold;
    font-size: 24px;
}
.related-sales .sale-group{
    border: 1px solid black;
    width: 27.33333%;
   display: inline-block;
   padding-right: 24px;
}
.item-gruop{
    display: inline-block;
    position: relative;
    width:  22%;
    height: auto;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px ;
    text-align: center;
}
.item .item-poster{
    position: relative;
    top: 24px;
    left: 20%;
    right: 12px;    
    max-width: 60%;
    max-height: 60%;
}
.item-poster img{
    max-width: 100%;
  height: auto;
}
.item-title{
    position: relative;
    margin-top: 4px;
    font-weight: bold;
    margin-bottom: 4px;
}
.item-price-sale{
    position: relative;
    font-weight: bold;
    color: red;
}
.item-price{
    position: relative;
    margin-bottom: 16px;
    font-weight: bold;
    
}
.products{
    position: relative;
    border-radius: 15px;
    border: 1px solid black;
    padding: 32px;
    margin-top: 32px;
}
.products-header{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 24px;
}
.information{
    margin-top: 32px;
    
    
    padding-bottom: 36px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}
.information-header{
    font-size: 24px;
    font-weight: 600;
    
}
div.special-bold{
    font-weight: bold;
}
div.special-blue{
    color: blue;
}
.information .col-2{
    width: 14%;
    float: left;

}
.information .info-content{
    font-size: 28px;
}
.navi-bot{
    border-radius: 15px;
    border: 1px solid black;
    padding: 32px;
    
    font-size: 20px;
}

.navi-bot div{
    display: inline-block;
    width: 27%;
    font-size: 28px;
    padding: 0 12px;
    text-align: center;
}